.profile-content {
  .profile-content-tab {
    padding-top:$spacing-05;
    padding-right:$spacing-09;
    padding-left:$spacing-09;
    padding-bottom: $spacing-09;
    background-color: $ui-01;
    .bx--snippet-container {
      position: unset !important;
    }
    .bx--snippet--multi{
      background: unset;
    }
  }
  .title{
    @include carbon--type-style('productive-heading-03');
    @include carbon--font-weight('semibold');
  }
  .caption{
    @include carbon--type-style('body-short-01');
    color: $text-02;
  }
  td{
    background-color: $ui-background;
    min-width:250px;
  }
}
.bx--tab-content{
  padding:0;
  background-color: $ui-01;
}
.button-logout {
  float: right;
}
.snippetBackground{
  width: 100%;
  background-color: #292929 !important;
}

