@import '@carbon/themes/scss/themes';
// Use the gray 100 theme
$carbon--theme: $carbon--theme--g90;

$feature-flags: (
  ui-shell: true,
  grid-columns-16: true,
);
@include carbon--theme();
@import 'carbon-components/scss/globals/scss/styles.scss';
@import './components/Header/header.scss';
@import './pages/LandingPage/landing-page.scss';
@import './pages/InfoFooter/footer.scss';
@import './pages/ViewProfile/view-profile.scss';
@import './pages/Setup/setup.scss';
.bx__global-content{
  background-color:$ui-background
}
.bx--tab-content{
  background-color:$ui-01;
}
