@import '@carbon/themes/scss/themes';
// Use the gray 100 theme
$carbon--theme: $carbon--theme--g90;

$feature-flags: (
  ui-shell: true,
  grid-columns-16: true,
);
@include carbon--theme();
@import 'carbon-components/scss/globals/scss/styles.scss';

.bx--content{
  padding:0rem;
}
